@use '../config/variables' as var;
@use '../config/functions' as fun;

.documentation{
    &__ctn{
        display: flex;
        gap: 40px;
        article{
            &:first-child{
                width: 25%;
            }
            &:last-child{
                width: 75%;
            }
        }
    }
    &__menu{
        position: relative;
        aside{
            h3{
                border-bottom: 2px solid var.$secondary-color;
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
            position: sticky;
            top: 30px;
            ul{
                margin-left: 0;
            }
            ul li{
                list-style: none;
                margin-bottom: 10px;
                a{
                    color: var.$text-color;
                    text-decoration: none;
                    font-size: 1.6rem;
                    transition: .3s ease;
                    transition-property: opacity, color;
                    &:hover{
                        opacity: .7;
                    }
                    &.active{
                        color: var.$secondary-color;
                    }
                }
            }
        }
    }
    &__block{
        margin: 15px 0 10px;
    }
    &__part{
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: 2px solid var.$cuartary-color;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            border-bottom: none;
        }
        a{
            color: var.$secondary-color;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 600;
            transition: .3s ease opacity;
            &:hover{
                opacity: .7;
            }
        }
    }
}
//ESTRUCTURA CÓDIGO
.documentation__example{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var.$block-code;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0;
    overflow: auto;
    overflow-y: hidden;
    position: relative;
    code{
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }
    &:hover{
        .copy-code{
            opacity: 1;
        }
    }
    .token{
        font-style: italic;
        &.symbol{
            color: var.$code-symbol;
        }
        &.parameter{
            color: var.$code-parameter;
        }
        &.tag{
            color: var.$code-tag;
        }
        &.atr{
            color: var.$code-atr;
        }
    }
}
//OPCIÓN DE COPIAR CÓDIGO
.copy-code{
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0px 10px;
    border-radius: 2.5px;
    background-color: var.$copy-code;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    top: calc(50% - 17.5px);
    cursor: pointer;
    opacity: 0;
    transition: .3s ease opacity;
    gap: 5px;
    img{
        width: 12.5px;
        opacity: .7;
    }
    p{
        color: var.$white;
        opacity: .7;
        display: none;
        font-size: 1.4rem;
    }
    &.active{
        p{
            display: block;
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .documentation{
        &__menu{
            &.menuDoc-active{
                z-index: 9;
                aside{
                    left: 0;
                }
                .menu__background{
                    opacity: 1;
                    pointer-events: all;
                }
            }
            aside{
                width: 100%;
                position: fixed;
                top: 0;
                left: -100%;
                padding: 0;
                z-index: 3;
                padding: 30px;
                background-color: var.$menuMobile-color;
                width: 100%;
                height: 100vh;
                max-width: 300px;   
                top: 0;
                transition: 1s ease left;
            }
            .menu__background{
                position: fixed;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, .55);
                top: 0;
                left: 0;
                pointer-events: none;
                opacity: 0;
                transition: .5s ease opacity;
                z-index: 2;
            }
        }
        &__ctn{
            flex-direction: column;
            article{
                &:last-child,
                &:first-child{
                    width: 100%;
                }
            }
        }
    }
}   