@use '../config/variables' as var;
@use '../config/functions' as fun;

.footer{
    background-color: var.$secondary-color;
    padding: 60px 0;
    &__ctn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__block p{
        max-width: 350px;
    }
    &__block{
        ul{
            display: flex;
            gap: 10px;    
            align-items: center;
        }
        ul li{
            list-style: none;
            img{
                width: 25px;
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .footer{
        padding: 60px 0 40px;
        &__ctn{
            justify-content: center;
        }
        &__block p{
            text-align: center;
        }
    }
}