@use '../config/variables' as var;

.JVform{
    &__ctn-input{
        position: relative;
    }
    .validateVF{
        .JVform__error-message{
            opacity: 0;
        }
    }
    .errorValidateVF{
        .JVform__error-message{
            opacity: 1;
            display: block;
        }
    }
    &__error-send{
        position: relative;
        display: flex;
        justify-content: center;
        p{
            background-color: var.$danger;
            width: fit-content;
            padding: 8px 20px;
            border-radius: 5px;
            margin: auto;
            margin-top: 10px;
            position: absolute;
            font-size: 1.6rem;
            color: var.$white;
            opacity: 0;
            pointer-events: none;
        }
        &.active{
            p{
                opacity: 1;
            }
        }
    }
    &__error-message{
        display: none;
        p{
            font-size: 1.3rem;
            color: var.$danger;
        }
    }
}

@keyframes error-message {
    from{
        transform: rotate(5deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    to{
        transform: rotate(0deg);
    }
}