//COLORS
$primary-color: #4e42d4;
$secondary-color: rgb(2, 156, 222);
$tertiary-color: rgb(129, 129, 129);
$cuartary-color: rgb(158, 155, 155);
$white: #fff;
$black: #000;
$danger: rgb(201, 68, 68);
$text-color: rgba(60, 60, 67, .92);
$block-code: #292b30;
$code-tag: #F07178;
$code-atr: #C792EA;
$code-symbol: #89DDFF;
$code-parameter: #C3E88D;
//BREAKPOINTS
$breakpoints: (
    'desktop': 1440px,
    'laptop': 1280px,
    'laptop-small': 1100px,
    'ipad-big': 992px,
    'ipad-small': 768px,
    'mobile': 576px
);