@use '../config/functions' as fun;

.ctn{
    width: 90%;
    margin: auto;
    max-width: 1000px;
    &--top{
        padding-top: 50px;
    }
    &--height{
        min-height: calc(100vh - 224px);
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .ctn{
        &--top{
            padding-top: 30px;
        }
    }
}