.tab-general{
    position: relative;
    overflow: hidden;
    &__ctn{
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: -9;
        &.active{
            pointer-events: inherit;
            animation: opacity-to-absolute 1s ease forwards;
            z-index: inherit;
        }
    }
}

@keyframes opacity-to-absolute {
    from{
        position: relative;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
        position: relative;
    }
}


@keyframes opacity {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
